<h1>Kullanıcı Listesi</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Oluşturulma Tarihi</th>
      <th>İşlemler</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime("%d.%m.%Y %H:%M") %></td>
        <td>
          <%= button_to "Sil", user_path(user), method: :delete, data: { confirm: "Silmek istediğinize emin misiniz?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
