<h1>New leave</h1>

<%= render "form", leave: @leave %>

<br>

<div>
  <%= link_to "Back to leaves", leaves_path %>
</div>
<div>
 <%= link_to "Ana Sayfa'ya Dön", root_path, class: "btn btn-primary" %>
</div>